<h2 class="text-center">Lista de Clientes</h2>
<table class="table table-primary table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Cpf</th>
            <th>Data de Nascimento</th>
            <th>Deletar</th>
            <th>Editar</th>
        </tr>
    </thead>
    <tbody *ngIf="(clientes$ | async) as clientes">
        <tr *ngFor="let cliente of clientes">
                <td>{{ cliente.id }}</td>
                <td>{{ cliente.nome }}</td>
                <td>{{ cliente.cpf }}</td>
                <td>{{ cliente.dataNascimento}}</td>
                <td><i class="fa fa-trash fa-2x" (click)="remove(cliente.id)"></i></td>      
                <td><i class="fa fa-edit fa-2x" [routerLink]="['/clientes', cliente.id]"></i></td> 
        </tr>
    </tbody>
 </table>

