<h4 class="text-center">Cadastrar</h4>

<form [formGroup]="cadastrarForm" class="form mt-4" (submit)="cadastrar()">

    <div class="form-group">
        <input 
            formControlName="id"  
            class="form-control" 
            placeholder="id" 
            autofocus> 
        <ap-vmessages 
            *ngIf="cadastrarForm.get('id').errors?.required  "
            msg="User id is required">
        </ap-vmessages>         
    </div>

    <div class="form-group">
        <input 
            formControlName="nome"  
            class="form-control" 
            placeholder="nome" 
            autofocus> 
        <ap-vmessages 
            *ngIf="cadastrarForm.get('nome').errors?.required  "
            msg="User id is required">
        </ap-vmessages>         
    </div>

    <div class="form-group">
        <input 
            formControlName="cpf" 
            class="form-control" 
            placeholder="cpf"
            autofocus
            input-mask> 
        <ap-vmessages 
            *ngIf="cadastrarForm.get('cpf').errors?.required  "
            msg="User id is required">
        </ap-vmessages>         
    </div>

    <div class="form-group">
        <input 
            formControlName="dataNascimento"  
            class="form-control" 
            placeholder="dataNascimento" 
            autofocus
            input-date> 
        <ap-vmessages 
            *ngIf="cadastrarForm.get('dataNascimento').errors?.required  "
            msg="User id is required">
        </ap-vmessages>         
    </div>
    <!--<div class="form-group">
        <ap-input-mask formControlName="cpf" class="form-control" text="cpf" mask="999.999.999-99" input-mask></ap-input-mask>
    </div>
    <div class="form-group">
        <ap-input-mask text="data" mask="dd/MM/yyyy" input-date></ap-input-mask>
    </div>-->
    <button 
        [disabled]="cadastrarForm.invalid"
        type="submit" 
        class="btn btn-primary btn-block">
        Cadastrar
    </button>

</form>