<h4 class="text-center">Buscar Usuario</h4>

<form [formGroup]="logarForm" class="form mt-4" (submit)="buscar()">

    <div class="form-group">
        <input 
            formControlName="userId"  
            class="form-control" 
            placeholder="id" 
            autofocus> 
        <ap-vmessages 
            *ngIf="logarForm.get('userId').errors?.required  "
            msg="User id is required">
        </ap-vmessages>         
    </div>

    <button 
        [disabled]="logarForm.invalid"
        type="submit" 
        class="btn btn-primary btn-block">
        buscar
    </button>

</form>

<p>Não tem cadastro?<a [routerLink]="['/cadastrar']">Cadastre-se agora</a></p>