<h1>editar</h1>
<form  [formGroup]="editForm" class="form mt-4" (submit)="editar()">

        <div class="form-group" >
            <input formControlName="id"
                   class="form-control" 
                   id="id" 
                   placeholder="Seu id"
                   [value]="cliente?.id"
                   disabled="true">                
        </div>
        <div class="form-group">
                <input formControlName="nome"
                       class="form-control" 
                       id="nome" 
                       placeholder="Seu nome"
                       [value]="cliente?.nome">                
        </div>
        <div class="form-group">
                <input formControlName="cpf"
                        class="form-control" 
                        id="cpf" 
                        placeholder="Seu cpf"
                        [value]="cliente?.cpf"
                        input-mask>                
        </div>
        <div class="form-group">
                <input formControlName="dataNascimento"
                        class="form-control" 
                        id="dataNascimento" 
                        placeholder="Sua data de Nascimento"
                        [value]="cliente?.dataNascimento"
                        input-date>                
        </div>
    
        <button 
            type="submit" 
            class="btn btn-primary btn-block">
            editar
        </button>
    
    </form>